*
{
	margin: 0; 
	padding: 0;
}

body 
{
	font-family: arial;
	background-color: lightpink;
}

#header
{
	background-color: black;
	height: 100px;
	width: 100%;
}

.container
{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

#logoarea
{
	width: 300px;
	height: 100px;
	background-image: url("carrotcrop2.jpg");
	float: left;

}

#navarea
{
	width: 660px;
	height: 100px;
	float: right;
}

#nav
{
	list-style: none;
	margin-top: 30px;

}

#nav a 
{
	color: black;
	text-decoration: none;
}

#nav li
{
	float: right;
	margin-left: 30px;
	background-color: lightpink;
	padding: 8px;
	border: 1px solid hotpink;
	border-radius: 5px;

}

#nav li:hover
{
	background-color: deeppink;

}

.page
{
	height: 1400px;
	background-color: red;
	padding: 20px;
	border: 2px solid black;
	
}

#footer
{
	background-color: black;
	padding: 20px;
	height: 20px;
	width: 100%;
	color: white;
}


#box1
{
	width: 300px;
	height: 475px;
	background-color: black;
	padding: 20px 20px 20px 20px;
	border: 2px solid black;
	border-radius: 5px;

}


#top5rappers
{
	font-family: cursive;
	margin-left: 50px;
	color: white;
	font-size: 15pt;

}

h1
{
	color: white;
	text-decoration: underline;
}

#box2
{
	width: 500px;
	height: 1265px;
	background-color: black;
	position: absolute; top: 120px; left: 650px;
	padding: 20px 20px 20px 20px;
	margin-right: 50px;
	border: 2px solid black;
	border-radius: 5px;

}


#kendrickimg
{
	position: absolute; top: 20px; left: 300px;
	border: 2px solid black;
	border-radius: 10px;

}

#jcoleimg
{
	position: absolute; top: 240px;
	border: 2px solid black;
	border-radius: 10px;
}

#drakeimg
{
	position: absolute; top: 240px; left: 300px;
	border: 2px solid black;
	border-radius: 10px;
}

#joynerimg
{
	position: absolute; top: 500px; left: 120px;
	border: 2px solid black;
	border-radius: 10px;
}

#kanyeimg
{
	border: 2px solid black;
	border-radius: 10px;
}

#box3
{
	width: 300px;
	height: 700px;
	background-color: black;
	padding: 30px 30px 30px 30px;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 25px;
}




#goodsongs
{
	color: white;
	text-decoration: none;
}

a
{
	color: white;
}


#kendrickalbum
{
	position: absolute; top: 750px;
}

#dinandalbum
{
	position: absolute; top: 750px; left: 300px;

}


#mmlpalbum
{
	position: absolute; top: 1000px;

}

#adhdalbum
{
	position: absolute; top: 1000px; left: 300px;
}

#kanyespot{
	position: absolute; top: 215px; left: 460px;
}

#kendrickspot{
	position: absolute; top: 300px; left: 485px;
}

#drakespot{
	position: absolute; top: 385px; left: 395px;
}

#jcolespot{
	position: absolute; top: 470px; left: 395px;
}

#joynerspot{
	position: absolute; top: 555px; left: 455px;
}
